
body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100vh;
}



.img{
    height: 100vh;
    width: 500px;
    padding: 0%;
    margin: 0%;
}
.carousel-color {
    background-color: orangered;
}

.form{
    margin-left: 5rem;
}